@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .aeza-input {
        @apply bg-wild-sand-100 block rounded-xl px-3 py-3.5 text-base;
    }

    .aeza-checkbox {
        @apply h-5 w-5 accent-black hover:accent-wild-sand-900 transition-all;
    }

    .aeza-bg-cyan {
        @apply bg-cyan-100;
    }

    .aeza-text-grey {
        @apply text-wild-sand-200;
    }

    .aeza-black-button {
        @apply block px-4 py-2 rounded-xl text-white bg-black hover:bg-wild-sand-900 transition-all;
    }

    .aeza-stylized-button {
        @apply block p-3 rounded-xl font-semibold border-4 border-b-8 border-r-8 hover:bg-wild-sand-200 border-wild-sand-200 transition-all;
    }

    .aeza-grey-button {
        @apply block px-4 py-1 rounded-3xl bg-wild-sand-200 hover:bg-wild-sand-300 transition-all;
    }

    .aeza-text-6xl-bold {
        @apply text-6xl font-bold;
    }

    .aeza-text-6xl-medium {
        @apply text-6xl font-medium;
    }

    .aeza-text-4xl-bold {
        @apply text-4xl font-bold;
    }

    .aeza-text-4xl-medium {
        @apply text-4xl font-medium;
    }

    .aeza-text-2xl-bold {
        @apply text-2xl font-bold;
    }

    .aeza-text-2xl-medium {
        @apply text-2xl font-medium;
    }

    .aeza-text-xl-bold {
        @apply text-xl font-bold;
    }

    .aeza-text-xl-medium {
        @apply text-xl font-medium;
    }

    .aeza-text-normal {
        @apply text-base font-normal;
    }

    .aeza-text-small {
        @apply text-sm font-normal;
    }

    .pattern-diagonal-lines {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.25' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .pattern-bank-note {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23000000' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
}
